In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
benimSozlugum = {"Enes": 26, "Furki": 23, "AliVeliDeli": 85}

In [3]:
pd.Series(benimSozlugum)

Enes           26
Furki          23
AliVeliDeli    85
dtype: int64

In [4]:
type(pd.Series(benimSozlugum))

pandas.core.series.Series

In [5]:
benimYaslarim = [26,23,85]
benimIsimlerim = ["Enes", "Furki", "AliVeliDeli"]

In [6]:
pd.Series(benimYaslarim)

0    26
1    23
2    85
dtype: int64

In [7]:
pd.Series(benimYaslarim, benimIsimlerim)

Enes           26
Furki          23
AliVeliDeli    85
dtype: int64

In [8]:
pd.Series(data = benimYaslarim, index = benimIsimlerim) #aslında bu şekilde bir atama yapmış oluyoruz

Enes           26
Furki          23
AliVeliDeli    85
dtype: int64

In [9]:
numpyDizisi = np.array([26,23,85])
numpyDizisi

array([26, 23, 85])

In [10]:
pd.Series(numpyDizisi)

0    26
1    23
2    85
dtype: int32

In [11]:
pd.Series(numpyDizisi,benimIsimlerim)

Enes           26
Furki          23
AliVeliDeli    85
dtype: int32

In [12]:
pd.Series(["Muhammed", "Enes", "Yılmaz"], [1,2,3]) # indexleri de değiştirdik

1    Muhammed
2        Enes
3      Yılmaz
dtype: object

In [13]:
yarismaSonucu1 = pd.Series([10,5,8], ["Muhammed", "Enes", "Yılmaz"])
yarismaSonucu1

Muhammed    10
Enes         5
Yılmaz       8
dtype: int64

In [14]:
yarismaSonucu2 = pd.Series([20,13,17], ["Muhammed", "Enes", "Yılmaz"])
yarismaSonucu2

Muhammed    20
Enes        13
Yılmaz      17
dtype: int64

In [15]:
yarismaSonucu2["Enes"] # değeri aldık

13

In [16]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2
sonSonuc  # bu tarz kolaylıkları kullanabiliyoruz

Muhammed    30
Enes        18
Yılmaz      25
dtype: int64

In [17]:
farkliSeries = pd.Series([14,152,62,3], ["a", "b", "c", "d"])
farkliSeries2 = pd.Series([10,5,3,1], ["a", "c", "f", "g"])

In [18]:
farkliSeries

a     14
b    152
c     62
d      3
dtype: int64

In [19]:
farkliSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [20]:
sonucSeries = farkliSeries + farkliSeries2
sonucSeries # her iki tarafta da kesişenleri topluyor

a    24.0
b     NaN
c    67.0
d     NaN
f     NaN
g     NaN
dtype: float64